<a href="https://colab.research.google.com/github/saiganeshgudla/EDA-LONE-PROJECT/blob/main/EDA_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

LONE DATA

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/lone/Loan 2.csv")

In [ ]:
print(df)

      Customer ID               Name Gender  Age  Income (USD)  \
0         C-36995   Frederica Shealy      F   56       1933.05
1         C-33999  America Calderone      M   32       4952.91
2          C-3770      Rosetta Verne      F   65        988.19
3         C-26480         Zoe Chitty      F   65           NaN
4         C-23459       Afton Venema      F   31       2614.77
...           ...                ...    ...  ...           ...
29995     C-43723  Angelyn Clevenger      M   38       4969.41
29996     C-32511       Silas Slaugh      M   20       1606.88
29997      C-5192       Carmelo Lone      F   49           NaN
29998     C-12172      Carolann Osby      M   38       2417.71
29999     C-33003  Bridget Garibaldi      F   63       3068.24

      Income Stability            Profession     Type of Employment  \
0                  Low               Working            Sales staff
1                  Low               Working                    NaN
2                 High             Pensioner                    NaN
3                 High             Pensioner                    NaN
4                  Low               Working  High skill tech staff
...                ...                   ...                    ...
29995              Low  Commercial associate               Managers
29996              Low               Working               Laborers
29997              Low               Working            Sales staff
29998              Low               Working         Security staff
29999             High             Pensioner                    NaN

         Location  Loan Amount Request (USD)  ...  Credit Score  \
0      Semi-Urban                   72809.58  ...        809.44
1      Semi-Urban                   46837.47  ...        780.40
2      Semi-Urban                   45593.04  ...        833.15
3           Rural                   80057.92  ...        832.70
4      Semi-Urban                  113858.89  ...        745.55
...           ...                        ...  ...           ...
29995       Urban                   76657.90  ...        869.61
29996  Semi-Urban                   66595.14  ...        729.41
29997       Urban                   81410.08  ...           NaN
29998  Semi-Urban                  142524.10  ...        677.27
29999       Rural                  156290.54  ...        815.44

      No. of Defaults Has Active Credit Card  Property ID  Property Age  \
0                   0                    NaN          746       1933.05
1                   0            Unpossessed          608       4952.91
2                   0            Unpossessed          546        988.19
3                   1            Unpossessed          890           NaN
4                   1                 Active          715       2614.77
...               ...                    ...          ...           ...
29995               0            Unpossessed          566       4969.41
29996               0               Inactive          175       1606.88
29997               0                 Active          959           NaN
29998               1            Unpossessed          375       2417.71
29999               0                 Active          344       3068.24

       Property Type Property Location  Co-Applicant  Property Price  \
0                  4             Rural             1       119933.46
1                  2             Rural             1        54791.00
2                  2             Urban             0        72440.58
3                  2        Semi-Urban             1       121441.51
4                  4        Semi-Urban             1       208567.91
...              ...               ...           ...             ...
29995              4             Urban             1       111096.56
29996              3             Urban             1        73453.94
29997              1             Rural             1       102108.02
29998              4             Urban             1       168194.47
29999              3             Rural             1       194512.60

       Loan Sanction Amount (USD)
0                        54607.18
1                        37469.98
2                        36474.43
3                        56040.54
4                        74008.28
...                           ...
29995                    68992.11
29996                    46616.60
29997                    61057.56
29998                    99766.87
29999                   117217.90

[30000 rows x 24 columns]

# STUDY DATA

In [ ]:
print(df.head())

  Customer ID               Name Gender  Age  Income (USD) Income Stability  \
0     C-36995   Frederica Shealy      F   56       1933.05              Low
1     C-33999  America Calderone      M   32       4952.91              Low
2      C-3770      Rosetta Verne      F   65        988.19             High
3     C-26480         Zoe Chitty      F   65           NaN             High
4     C-23459       Afton Venema      F   31       2614.77              Low

  Profession     Type of Employment    Location  Loan Amount Request (USD)  \
0    Working            Sales staff  Semi-Urban                   72809.58
1    Working                    NaN  Semi-Urban                   46837.47
2  Pensioner                    NaN  Semi-Urban                   45593.04
3  Pensioner                    NaN       Rural                   80057.92
4    Working  High skill tech staff  Semi-Urban                  113858.89

   ...  Credit Score No. of Defaults Has Active Credit Card  Property ID  \
0  ...        809.44               0                    NaN          746
1  ...        780.40               0            Unpossessed          608
2  ...        833.15               0            Unpossessed          546
3  ...        832.70               1            Unpossessed          890
4  ...        745.55               1                 Active          715

   Property Age  Property Type Property Location  Co-Applicant  \
0       1933.05              4             Rural             1
1       4952.91              2             Rural             1
2        988.19              2             Urban             0
3           NaN              2        Semi-Urban             1
4       2614.77              4        Semi-Urban             1

   Property Price  Loan Sanction Amount (USD)
0       119933.46                    54607.18
1        54791.00                    37469.98
2        72440.58                    36474.43
3       121441.51                    56040.54
4       208567.91                    74008.28

[5 rows x 24 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer ID                  30000 non-null  object
 1   Name                         30000 non-null  object
 2   Gender                       29947 non-null  object
 3   Age                          30000 non-null  int64
 4   Income (USD)                 25424 non-null  float64
 5   Income Stability             28317 non-null  object
 6   Profession                   30000 non-null  object
 7   Type of Employment           22730 non-null  object
 8   Location                     30000 non-null  object
 9   Loan Amount Request (USD)    30000 non-null  float64
 10  Current Loan Expenses (USD)  29828 non-null  float64
 11  Expense Type 1               30000 non-null  object
 12  Expense Type 2               30000 non-null  object
 13  Dependents                   27507 non-null  float64
 14  Credit Score                 28297 non-null  float64
 15  No. of Defaults              30000 non-null  int64
 16  Has Active Credit Card       28434 non-null  object
 17  Property ID                  30000 non-null  int64
 18  Property Age                 25150 non-null  float64
 19  Property Type                30000 non-null  int64
 20  Property Location            29644 non-null  object
 21  Co-Applicant                 30000 non-null  int64
 22  Property Price               30000 non-null  float64
 23  Loan Sanction Amount (USD)   29660 non-null  float64
dtypes: float64(8), int64(5), object(11)
memory usage: 5.5+ MB
None

In [ ]:
print(df.describe())

                Age  Income (USD)  Loan Amount Request (USD)  \
count  30000.000000  2.542400e+04               30000.000000
mean      40.092300  2.630574e+03               88826.333855
std       16.045129  1.126272e+04               59536.949605
min       18.000000  3.777000e+02                6048.240000
25%       25.000000  1.650457e+03               41177.755000
50%       40.000000  2.222435e+03               75128.075000
75%       55.000000  3.090593e+03              119964.605000
max       65.000000  1.777460e+06              621497.820000

       Current Loan Expenses (USD)    Dependents  Credit Score  \
count                 29828.000000  27507.000000  28297.000000
mean                    400.936876      2.253027    739.885381
std                     242.545375      0.951162     72.163846
min                    -999.000000      1.000000    580.000000
25%                     247.667500      2.000000    681.880000
50%                     375.205000      2.000000    739.820000
75%                     521.292500      3.000000    799.120000
max                    3840.880000     14.000000    896.260000

       No. of Defaults   Property ID  Property Age  Property Type  \
count     30000.000000  30000.000000  2.515000e+04   30000.000000
mean          0.193933    501.934700  2.631119e+03       2.460067
std           0.395384    288.158086  1.132268e+04       1.118562
min           0.000000      1.000000  3.777000e+02       1.000000
25%           0.000000    251.000000  1.650450e+03       1.000000
50%           0.000000    504.000000  2.223250e+03       2.000000
75%           0.000000    751.000000  3.091408e+03       3.000000
max           1.000000    999.000000  1.777460e+06       4.000000

       Co-Applicant  Property Price  Loan Sanction Amount (USD)
count  30000.000000    3.000000e+04                29660.000000
mean      -4.743867    1.317597e+05                47649.342208
std       74.614593    9.354955e+04                48221.146686
min     -999.000000   -9.990000e+02                 -999.000000
25%        1.000000    6.057216e+04                    0.000000
50%        1.000000    1.099936e+05                35209.395000
75%        1.000000    1.788807e+05                74261.250000
max        1.000000    1.077967e+06               481907.320000

# NULL VALUES

In [ ]:
print(df.isnull().sum())

Customer ID                       0
Name                              0
Gender                           53
Age                               0
Income (USD)                   4576
Income Stability               1683
Profession                        0
Type of Employment             7270
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)     172
Expense Type 1                    0
Expense Type 2                    0
Dependents                     2493
Credit Score                   1703
No. of Defaults                   0
Has Active Credit Card         1566
Property ID                       0
Property Age                   4850
Property Type                     0
Property Location               356
Co-Applicant                      0
Property Price                    0
Loan Sanction Amount (USD)      340
dtype: int64

0 null values in the csv file

In [ ]:
# Handling outliers

# Identify numerical columns
numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()

# Function to identify outliers using IQR
def identify_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers, lower_bound, upper_bound

# Function to handle outliers by replacing them with the median (IQR method)
def handle_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    median_value = df[column].median()
    df[column] = np.where((df[column] < lower_bound) | (df[column] > upper_bound), median_value, df[column])
    return df

# Apply this function to each numerical column
for column in numerical_cols:
    outliers, lower_bound, upper_bound = identify_outliers_iqr(df, column)
    if not outliers.empty:
        df = handle_outliers_iqr(df, column)

In [ ]:
# 'data' is our processed DataFrame
output_file_path = 'processed_EDA_Loan.csv'

# Save the DataFrame to a CSV file
df.to_csv(output_file_path, index=False)

print(f"Processed data has been saved to {output_file_path}")

Processed data has been saved to processed_EDA_Loan.csv